#scene {
    margin-left: 200px;
    -webkit-perspective: 1200;
    -webkit-perspective-origin: 80% -100px;
}

#cube {
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 400px;
    -webkit-transition: -webkit-transform 1s linear;
    -webkit-transform-style: preserve-3d;
}

.face {
    display: inline;
    float: left;
    border: 2px;
    border-style: solid;
    border-color: black;
    height: 96px;
    width: 96px;
    background-color: rgba(200, 10, 190, 0.4);
}

.hidden {
    visibility: hidden;
}

.left {
    -webkit-transform: rotateY(90deg);
    -webkit-transform-origin: center right;
}

.right {
    -webkit-transform: rotateY(-90deg);
    -webkit-transform-origin: center left;
}
.front {
    -webkit-transform: translateX(-200px) translateZ(100px);
}

.top {
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: bottom center;
}

.bottom {
    -webkit-transform: rotateX(90deg);
    -webkit-transform-origin: top center;
}

#grid {
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 400px;
    z-index: -1;
    -webkit-transition: -webkit-transform 1s linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateY(-400px) rotateX(-90deg);
}

.row {
    float: left;
}

.cell {
    border: 2px;
    border-style: solid;
    border-color: grey;
    height: 96px;
    width: 96px;
    background-color: rgba(190, 190, 190, 0.7);
}